.mainMenuWrap {
  .navbar {
    .mainMenu {
      .navbar-nav {
        .nav-item {
          .nav-link {
            font-size: $f16;
            color: $dark;
            font-weight: 700;
            padding: 10px 15px;
          }
        }
      }
    }
  }
}