@media (max-width: 991px) {
  .newsContent .contentInner .d-flex {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .col-md-4.col-sm-4.col-12.border-left.mt-4.mb-4 {
    margin: 0 !important;
  }

  .col-md-4.col-sm-4.col-12.mt-4.mb-4 {
    margin: 0 !important;
  }
  .newsContent .contentInner .newsImg {
    margin: 0 0 20px;
    max-width: 150px;
    width: 100%;
  }
  .newsContent .contentInner .newsImg a {
    width: 100%;
  }
  .newsContent .contentInner .newsImg img {
    max-width: 100%;
  }
  .newsContent.overImg .newsInfo {
    color: $dark_light;
    position: static;
    padding: 0;
  }
  .newsContent.overImg .newsInfo h4 a {
    color: $dark;
  }
  .newsContent.overImg .newsInfo p a {
    color: $dark;
  }
  .bradeComb {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .mbHide {
    display: none;
  }
  a {
    width: 100%;

    img,
    .img-fluid {
      width: 100%;
    }
  }
  .img-fluid {
    width: 100%;
  }
  .leftSide .barIcon .fa.fa-search {
    display: none;
  }
  .leftSide p {
    display: none;
  }
  .rightSide .rightInner .belIcon .btn {
    display: none;
  }
  .selectLangMenu {
    display: none;
  }
  .headerWrap .header .logoWrap img {
    max-width: 100px;
  }
  .rightSide .rightInner .belIcon {
    margin: 0;
  }
  .leftSide .barIcon {
    margin: 0;
  }
  .headerWrap .header {
    padding: 10px 0;
  }
  .headerWrap .mainMenuWrap {
    display: none;
  }
  .newsImgL {
    margin: 0 0 20px !important;
  }
  .opinionWrap {
    padding-left: 30px;
  }
  .opinionBody {
    margin-bottom: 40px;
  }
  .authorContentWrap .authorWrap .authorInner {
    //display: block;
  }
  .authorContentWrap .authorWrap .authorInner .authorImg {
    //margin-bottom: 20px;
  }
  .authorContentWrap .authorWrap .authorInner .authorImg img {
    width: 70px;
    height: 70px;
  }
  .authorContentWrap .authorWrap .authorInner .authorInfo {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .authorContentWrap .authorWrap .authorInner .authorInfo .authorTitle a {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 21px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .footerMenu {
    padding: 20px 0 0;
  }
  .tabContentBody .contentList {
    border-bottom: 1px solid #eee;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-row-gap: 20px;
    padding: 15px 0 10px;
  }
  .tabContentBody .contentList h2 {
    margin-bottom: 0;
    font-size: 40px;
  }

  .tabContentBody .contentList h4 a {
    font-weight: 400;
  }
  .newsContent {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  hr {
    display: none;
  }
  .newsContent.overImg .newsInfo h4 a {
    font-size: 22px;
    font-weight: 700;
  }
  h4 a {
    font-size: 22px;
  }
  .footerBottom {
    text-align: center;
  }
  .socialLink {
    display: flex;
    justify-content: center;
  }
  .socialLink li {
    display: flex;
  }

  .ourApp {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center !important;
    padding: 30px 0;
    margin: 30px 0;
  }
  .appLink {
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }
  .appLink a {
    margin: 0 10px;
  }
  .newsContent .contentInner .d-flex .newsInfo h4 a {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 26px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .newsContent .contentInner .d-flex .newsInfo p a {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 44px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .newsContent .contentInner .d-flex .newsImgL {
    margin: 0 0 0 20px !important;
  }

  .newsContent .contentInner .d-flex .newsImgL a img {
    width: 150px;
  }
  .footerMenu {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 0 0 30px;
    margin-bottom: 30px;
  }
  .footerMenu p {
    display: inline-block;
    padding: 0 10px;
  }
  .footer .footerLogo {
    text-align: center;
  }
  .footer .footerLogo a img {
    max-width: 100px;
  }
  .videoWrap .newsContent.overImg .newsInfo {
    position: absolute;
    color: #fff;
    padding: 10px 20px 5px;
  }
  .photoAlbumWrap .newsContent.overImg .newsInfo {
    position: absolute;
    color: #fff;
    padding: 10px 20px 5px;
  }

  .photoAlbumWrap .newsContent {
    padding: 0;
    margin: 0;
    border: none;
  }

  .photoAlbumWrap .newsContent.overImg .newsInfo h4 {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 28px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0;
    font-size: 18px;
  }
  .photoAlbumWrap .row {
    margin: 0 -2px;
  }
  .photoAlbumWrap .col-12,
  .photoAlbumWrap .col-6 {
    padding: 0 2px;
  }
  .photoAlbumWrap .newsContent .newsLargeImg {
    margin: 0 0 3px!important;
  }
}
