.socialLink li a {
  font-size: 18px;
  color: #23374D;
  margin-right: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .socialLink li a:last-child {
    margin-right: 0; }
  .socialLink li a:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
